a{
	cursor: pointer;
}
.teams {}

.teams li {
    display: inline-block;
    width: 50%;
    position: relative;
    padding: 15px;
}

.teams li img {
    max-width: 60%;
    float: left;
}

.teams li span {
    position: absolute;
    font-size: 50px;
    color: #fff;
    left: 15px;
    top: 15px;
    background: rgba(0, 0, 0, 0.4);
    width: 56%;
    height: 85%;
    display: block;
    padding: 15px;
}

.teams li span::before {
    content: "\00d7";
    display: block;
    margin-left: 86%;
    margin-top: -25px;
}

.teams li input[type="checkbox"] {
    position: absolute;
    width: 100%;
    display: block;
    height: 100%;
    opacity: 0;
}


/* toss page */

.toss li {
    display: inline-block;
    width: 50%;
    position: relative;
    padding: 15px;
}

.toss li img {
    float: left;
    height: 170px;
    max-width: 60%;
}

.toss li span {
    position: absolute;
    font-size: 50px;
    color: #fff;
    left: 15px;
    top: 15px;
    background: rgba(0, 0, 0, 0.4);
    width: 56%;
    height: 85%;
    display: block;
    padding: 15px;
}

.toss li span::before {
    content: "\00d7";
    display: block;
    margin-left: 86%;
    margin-top: -25px;
}

.toss li input[type="radio"] {
    position: absolute;
    width: 20%;
    display: block;
    height: 20%;
    right: 0;
    top: 30%;
}

.delete {
    background: url(https://mlab.com/css/images/icon-delete.png) left top no-repeat;
    width: 24px;
    height: 24px;
    box-shadow: none;
    margin-right: 0px;
    margin-left: 90px;
    border: 0;
}
