<div class="jumbotron text-center">
    <h1>Lets Play Cricket</h1>
    <hr>
    <ul class="teams text-left">
    <li ng-repeat="team in home.teams"><img src="asset/{{team.id}}.jpg"><span ng-show="tm"></span><input type="checkbox" ng-disabled="home.teamTotal===2 && !tm" ng-model="tm" name="tm" ng-click="home.selectTeam(this)"></li>
    </ul>

    <a ui-sref="toss" ng-if="home.teamTotal===2" class="btn btn-info" role="button">Lets Toss</a>
    <!-- {{ home.data }} -->
    
</div>

<!-- <div ui-view></div> -->